<form [formGroup]="VieForm">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        [src]="url" height="150">

                </div>
                <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
                <span class="oi oi-image"></span>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <button class="btn btn-link " (click)="Editable()">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" placeholder="Enter Naer" formControlName="name"
                                [readonly]="!edible">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email ID</label>
                            <input type="email" class="form-control" placeholder="Enter email id"
                                formControlName="email" [readonly]="!edible">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">PhoneNumber</label>
                            <input type="text" class="form-control" placeholder="Enter PhoneNumber"
                                formControlName="phonenumber" [readonly]="!edible">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="col-md-12">
                        <label class="labels">Adress</label>
                        <input type="text" class="form-control" placeholder="Enter Adress" formControlName="address"
                            [readonly]="!edible">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">PinNumber</label>
                        <input type="text" class="form-control" placeholder="Enter PinNumber"
                            formControlName="pinnumber" [readonly]="!edible">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button"
                        (click)="updateProfile()">SaveProfile</button>
                </div>
            </div>
        </div>
    </div>
</form>