<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<div class="form-gap"></div>
<div class="container">
    <div class="row" style="padding-left: 20%;">
        <div class="col-md-6 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Reset - Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form [formGroup]="PwdUpDatateForm" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input name="password" placeholder="oldpassword " class="form-control"
                                            type="password" formControlName="oldpassword" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input name="password" placeholder="New-Password " class="form-control"
                                            type="password" formControlName="password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input name="confirmpassword" placeholder="confirmpassword "
                                            class="form-control" type="confirmpassword"
                                            formControlName="confirmpassword" required>
                                    </div>
                                </div>
                                <div class="error" *ngIf="serverErrorMessages">
                                    {{serverErrorMessages}}
                                </div>
                                <div class="form-group">
                                    <input type="button" name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                        value="Reset Password" (click)="changePwd()">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>