<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-md-12 text-center">
                <div class="my-3">
                    <!-- {{name$ | async}}: {{counter$ | async}} -->
                    {{this.data.name}}
                </div>
                <div class="my-3">
                    <app-buttons></app-buttons>
                </div>
                <div class="my-3">
                    <app-addname></app-addname>
                </div>
            </div>
        </div>
    </div>


