<!-- <div>
  <select [(ngModel)]="sletedValue" (click)="fun()">
    <option *ngFor="let data of arr ">{{data}}</option>
  </select>
</div> -->
<form [formGroup]="SearchForm">

  <div class="justify-content-end  mt-1" style="text-align: right;">

    <span class="search mr-2" matSuffix>
      <button class="btn btn-link " (click)="showDialog('Add','row')">
        <i class="fa fa-plus"></i>
      </button>
    </span>


    <mat-form-field appearance="fill" class="mr-3">
      <mat-label>--Action--</mat-label>
      <mat-select formControlName="nameSearch" (selectionChange)="filter()">
        <mat-option *ngFor="let data of names|keyvalue" [value]="data.key">{{data.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<mat-form-field class="serach-form mr-2" floatLabel="never">
  <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (input)="applyFilter()">
  <button class="btn btn-link " matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clrearSearch()">
    <i class="fa fa-close"></i>
  </button>
</mat-form-field>

<div>
  <!-- <textarea [(ngModel)]='title' name="title" rows="5" cols="50"></textarea> -->
  <hr>
  <button (click)="dynamicDownlod()">Download</button>
</div>

<div class="row w-100m-0">
  <div class="col-md-3 py-3">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="color: blueviolet;margin-left: 5em; ">My Data</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="p-0" style="max-height: 440px;overflow-y: auto;">
          <div style="overflow: auto;">
            <mat-list class="pt-0">
              <ng-container>
                <mat-list-item class="list" (click)="getData()">
                  <h4 mat-line>All Names</h4>
                  <span class="badge badge-primary">{{totalNamesCount}}</span>
                </mat-list-item>
              </ng-container>
              <ng-container *ngFor="let data of names|keyvalue">
                <mat-list-item class="list" (click)="filterByName(data.key)">
                  <h4 mat-line>{{data.key}}</h4>
                  <span class="badge badge-primary">{{data.value}}</span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-9 py-3">
    <div class="card">
      <div class="card-body" style="max-height:520px;padding: 0.25rem;">
        <div class="example-header">
          <div *ngIf="data.length==0">
            <span>No Tasks Found</span>
          </div>
          <ng-container *ngIf="data.length>0">
            <table mat-table [dataSource]="dataTable" matSort (matSortChange)="sortData($event)">
              <ng-container matColumnDef="checkBox">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <mat-checkbox (change)="allSelected($event)" [(ngModel)]="selectdAll">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (change)="seletedRow($event,element)" [(ngModel)]="element.isChecked"></mat-checkbox>
                </td>
              </ng-container>
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="applay">
                  <div class="row">
                    <div class="col-md-5 ">
                      Name
                    </div>
                    <div class="col-md-8">
                      <mat-form-field appearance="legacy" style="width: 100px;">
                        <input matInput [formControl]="name" placeholder="search">
                      </mat-form-field>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="applay">
                  <div class="row">
                    <div class="col-md-5 ">
                      Role
                    </div>
                    <div class="col-md-8">
                      <mat-form-field appearance="legacy" style="width: 100px;">
                        <input matInput (click)="deBounce(searchValue)" placeholder="search" [(ngModel)]="searchValue">
                      </mat-form-field>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
              </ng-container>
              <!-- Name Column -->
              <!-- <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="applay"> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container> -->

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="applay">
                  <div class="row">
                    <div class="col-md-5 ">
                      Location
                    </div>
                    <div class="col-md-8">
                      <mat-form-field appearance="legacy" style="width: 100px;">
                        <input matInput [formControl]="location" placeholder="search">
                      </mat-form-field>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="applay"> Actions </th>
                <td mat-cell *matCellDef="let row">
                  <button class="btn btn-link " (click)="showDialog('Edit',row)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-link " (click)="delete(row._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading Data
                </mat-footer-cell>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataTable!=null}"></mat-footer-row>
            </table>
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [length]="totalSize"
              [pageIndex]="currentPage" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>

<p-dialog [(visible)]="deleConfemation" [modal]="true" appendTo="body" [responsive]="true"
  [style]="{'widh':'600px','minWidth':'600px'}" [minY]="100">
  <p-header class="dialogHeader">
    Conferm Action
  </p-header>
  Are you sure to delete
  <p-footer>
    <button class="btn btn-primary" (click)="deleteConfim('no')">No </button>
    <button class="btn btn-primary" (click)="deleteConfim('yes')">Yes</button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="display" [maximizable]="true" [responsive]="true" [style]="{'widh':'500px'}">
  <p-header>
    <span class="dialogHeader"> {{formTitle}}</span>
  </p-header>
  <div>
    <form [formGroup]="RegForm">
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-md-6 form-group">
            <label><b>Name:</b> </label>
            <input class="form-control" type="text" placeholder="Enter Nmae" formControlName="name" required>
          </div>
          <div class="col-md-6 form-group">
            <label><b>Role:</b> </label>
            <input class="form-control" type="text" placeholder="Enter Role" name="role" formControlName="role"
              required>
          </div>
          <div class="col-md-6 form-group">
            <label><b>Location:</b> </label>
            <input class="form-control" type="text" placeholder="Repeat Location" name="location"
              formControlName="location" required>
          </div>
          <div class="example-container col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" required>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end mr-3">
          <button class="btn btn-primary" (click)="submitForm()">{{button}}</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<div>
  <!-- <button (click)="childView=true">View </button>
  <button (click)="childView=false">hide </button> -->
  <app-child [viewchild]="'childView'"></app-child>
</div>
<br />
<br />