body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
 
   table{
     width: 100%;
   }
   mat-header-row{
     min-height: 2.5rem !important;
   }
   mat-cell{
     word-break: break-word;
     text-align: left;
     text-align-last: left;
     padding-right: 1rem;
     font-size: 0.8rem;
   }

   .dialogHeader{
    position: absolute;
    font-weight: 500;
    font-style: italic;
    color:hsl(90, 76%, 26%);
    left: 200px;
    top:30px
}
  .list:hover{
    cursor: pointer;
    background-color: rosybrown;
  }

  .applay{
    font-size: 15px;
    font-weight: 500;
    color: #5369e9;
  }
  ::ng-deep .snackbar-style{
    background-color: rgb(4, 19, 1);
    color:whitesmoke;
    font-style: italic;
    font-weight: 400;
  }
  ::ng-deep .mat-simple-snackbar-action {
    color:rgb(207, 67, 137);
    font-style: italic;
    font-weight: 400;
  }