<p-dialog [(visible)]="display" [modal]="true" appendTo="body" [responsive]="true" [style]="{'widh':'500px'}"
  [minY]="100">
  <p-header class="dialogHeader">
    {{formTitle}}
  </p-header>
  <div>
    <form [formGroup]="RegForm">
      <div class="container">
        <hr>
        <label for="Nmae"><b>Name:</b></label>
        <input type="text" placeholder="Enter Nmae" name="name" formControlName="name" required>
        <label for="Role"><b>Role:</b></label>
        <input type="text" placeholder="Enter Role" name="role" formControlName="role" required>
        <label for="Location"><b>Location</b></label>
        <input type="text" placeholder="Repeat Location" name="location" formControlName="location" required>
        <hr>
        <button type="submit" class="registerbtn" (click)="submitForm()">{{button}}</button>
      </div>
    </form>
  </div>
</p-dialog>

<div class="search" matSuffix>
  <button class="btn btn-link " (click)="showDialog('Add',row)">
    <i class="fa fa-plus"></i>
  </button>
  <mat-form-field class="serach-form" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="applyFilter()">
    <button class="btn btn-link " matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
      (click)="clrearSearch()">
      <i class="fa fa-close"></i>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose one</mat-label>
    <mat-select [(ngModel)]="dropdownSearch" (click)="applyFilterDropDown()">
      <mat-option>Clear</mat-option>
      <mat-option value="valid">harish</mat-option>
      <mat-option value="invalid">vijender</mat-option>
    </mat-select>
  </mat-form-field>




  <!-- <select class="custom-select"[(ngModel)]="dropdownSearch" (click)="applyFilterDropDown()" >
    <option value="" >Choose your city</option>
    <option >harish</option>
    <option >sravan</option>
    <option >vijender</option>
 </select>

 <select class="custom-select"[(ngModel)]="dropdownSearchAge" (click)="applyAgeFilterDropDown()" >
  <option value="" >Choose your city</option>
  <option >20-30</option>
  <option >30+</option>
  <option >40+</option>
</select> -->
</div>
<div>
  <select [(ngModel)]="sletedValue" (click)="fun()">
    <option *ngFor="let data of arr ">{{data}}</option>
  </select>
</div>

<div class="justify-content-end mr-4 mt-2" style="text-align: right;">
  <form [formGroup]="SearchForm">
    <mat-form-field appearance="fill">
      <mat-label>--Action--</mat-label>
      <mat-select formControlName="nameSearch" (selectionChange)="filter()">
        <!-- <mat-option>Clear</mat-option> -->
        <mat-option *ngFor="let data of names|keyvalue" [value]="data.key">{{data.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div>
  <!-- <textarea [(ngModel)]='title' name="title" rows="5" cols="50"></textarea> -->
  <hr>
  <button (click)="dynamicDownlod()">Download</button>
</div>

<div class="row w-100m-0">
  <div class="col-md-3 py-3">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="color: blueviolet;margin-left: 5em; ">My Data</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="p-0" style="max-height: 440px;overflow-y: auto;">
          <div style="overflow: auto;">
            <mat-list class="pt-0">
              <ng-container>
                <mat-list-item class="list" (click)="getData()">
                  <h4 mat-line>All Names</h4>
                  <span class="badge badge-primary">{{totalNamesCount}}</span>
                </mat-list-item>
              </ng-container>
              <ng-container *ngFor="let data of names|keyvalue">
                <mat-list-item class="list" (click)="filterByName(data.key)">
                  <h4 mat-line>{{data.key}}</h4>
                  <span class="badge badge-primary">{{data.value}}</span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-9 py-3">
    <div class="card">
      <div class="card-body" style="max-height:520px;padding: 0.25rem;">
        <div class="example-header">
          <div *ngIf="data.length==0">
            <span>No Tasks Found</span>
          </div>
          <ng-container *ngIf="data.length>0">
            <table mat-table [dataSource]="dataTable" matSort>
              <ng-container matColumnDef="checkBox">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <mat-checkbox (change)="allSelected($event)" [(ngModel)]="selectdAll">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (change)="seletedRow($event,element)" [(ngModel)]="element.isChecked"></mat-checkbox>
                </td>
              </ng-container>
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row">
                  <button class="btn btn-link " (click)="showDialog('Edit',row)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-link " (click)="delete(row._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading Data
                </mat-footer-cell>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataTable!=null}"></mat-footer-row>
            </table>
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [length]="totalSize"
              [pageIndex]="currentPage" (page)="pageEvent=handlePage($event)" showFirstLastButtons></mat-paginator>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>

<p-dialog [(visible)]="deleConfemation" [modal]="true" appendTo="body" [responsive]="true"
  [style]="{'widh':'600px','minWidth':'600px'}" [minY]="100">
  <p-header class="dialogHeader">
    Conferm Action
  </p-header>
  {{message}}
  <p-footer>
    <button class="btn btn-primary" (click)="deleteConfim('no')">No </button>
    <button class="btn btn-primary" (click)="deleteConfim('yes')">Yes</button>
  </p-footer>
</p-dialog>

<button (click)="childView=true">View </button>
<button (click)="childView=false">hide </button>
<app-child [viewchild]="childView"></app-child>

<br/>
<br/>