.clearfix{clear: both;}
.pointer{cursor: pointer;}
.ucfirst{text-transform: capitalize;}
.min300{min-height: 300px;}
.app-box{
    padding: 10px;
    margin-bottom: 20px;
    height: 230px;
    background: #b5e8d4;
    overflow: hidden;
    box-shadow: 1px 1px 4px #ccc;
}
.app-box:hover{
    box-shadow: 1px 1px 4px #999;
}
.app-box .remove{
    position:absolute;
    right: 21px;
    top:0px;
    color: #545454;
    display: none;
}
.form-group .form-conrtrol{
    font-size: inherit;
    background-color: inherit;
}
.fileds .fa{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    color:red;
}
.animated{
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}
.field{
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 1px 1px 4px #ddd;
}
.sfield{
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
}
.sfield:hover{
    box-shadow: 1px 1px 4px #ddd;
    cursor: pointer;
}
.dndDropArea{
    padding: 10px;
}
.dndDropArea.empty{
    min-height: 230px;
    border: dotted #ddd 2px;
}
.symbol{
    cursor: pointer;
}
.toggle-wrapper{
    padding: 15px;
    background-color: #d6d6d629;

}
.dndHandle{
    cursor: pointer;
    columns: #999;
}
.dndDraggingSource{
    opacity: 0.3;
}
.dndPlaceholder{
    background: rgb(206,238,238);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
}
.red{
    color: #d9534f;
}
.fa-trash{
    color: #d9534f;
}
.marginT60{
    margin-top: 60px;
}


.color-red{
    color: red;
}
.report-block{
    padding: 10px;
    background: #f8f8f8;
}
.report-block .row-:nth-child(even){
    background: #fff;
}

.dndDropArea .field .fa{
    opacity: 1;
}
.symbol{
    cursor: pointer;
}
label{
    font-size: 0.75rem;
}
li{
    list-style-type: none;
}
.rightSpace{
    float: 1 1 auto;
}
.required-field::before{
    content: "";
    color: red;
    height: 30px;
    width: 10px;
}
// .fileds{
//     height: 500px;
//     overflow-y: auto;
// }
.form1{
border: 1px;
}
.disableDiv{
    pointer-events: none;
}
:host ::ng-deep.mat-radio-label-content{
    padding-left: 8px;
}

.searchBox{
    border-radius: 1rem;
    display: block;
}
.required-field::before{
    content: "**";
    color: red;
    height: 30px;
    width: 10px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    // margin: 15px 0;
  }
  
  .example-radio-button {
    padding: 2px;
  }

  label{
      font-size: 15px;
      font-weight: 500;
  }
  .example-section {
    margin: 12px 0;
  }
  li{
      list-style-type: none;
  }