
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// @import '~@coreui/c';
// @import '../../node_modules/@angular/material/theming';
// @import '../../node_modules/primeng/resources/themes/nova-accent/theme.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular8-primary: mat-palette($mat-indigo);
$angular8-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular8-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular8-theme: mat-light-theme($angular8-primary, $angular8-accent, $angular8-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular8-theme);







.navbar{
background-color: #20a8d8;
// background-color: red;
}
.footer{
    background-color: #20a8d8;   
}


$themes: (
    first: (
        name: 'first',
        primary:  #20a8d8,
        secondary: #7A8288,
       
    ),
    second: (
        name: 'second',
        primary: #06ba00,
        secondary: #eee,
        
    ),
    third: (
        name: 'third',
        primary: #ba0082,
        secondary: #eee,
       
    ),
);

/*
* Implementation of themes
*/
@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
            $value: map-get(map-get($themes, $theme), '#{$key}');
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

* {
    @include themify($themes) {
        // custom theme to your needs. Add here
        @if themed('name') == 'first' {

            .navbar{
                background-color:  #20a8d8,
                // background-color: red;
                }

        }
        @if themed('name') == 'second' {

            .navbar{
                background-color: #06ba00;
                // background-color: red;
                }
                .footer{
                    background-color: #06ba00;   
                }
                .dropdown-item{
                    font-style:oblique;
                }
                .nav-link{
                    font-style:oblique;
                }
                .text{
                    font-style: oblique;
                }

        }
        @if themed('name') == 'third' {

            .navbar{
                background-color: #ba0082;
                // background-color: red;
                }

        }
    }
}